Error Broadcasting Transaction, min relay fee not met, testnet

When creating a large transaction on testnet I get this error if I don't bump the fee up from the minimum. It appears it's calculating the fee too low (under 1 sat per byte)?

Attached is the binary PSBT (renamed to .txt) for testnet, sparrow log, and screenshots of the transaction composed.

![Screen Shot 2021-06-24 at 10 42 55 AM](https://user-images.githubusercontent.com/127377/123285178-d1a2d280-d4da-11eb-8349-7ce501da3e54.png)
[test consolidation (fee error if left on lowest range).psbt.txt](https://github.com/sparrowwallet/sparrow/files/6710186/test.consolidation.fee.error.if.left.on.lowest.range.psbt.txt)
![Screen Shot 2021-06-24 at 10 51 46 AM](https://user-images.githubusercontent.com/127377/123285263-e41d0c00-d4da-11eb-8c90-b8f39904a9c1.png)
[sparrow.log.broadcast_error_example.log](https://github.com/sparrowwallet/sparrow/files/6710188/sparrow.log.broadcast_error_example.log)


Hi @newtonick - thanks for thorough issue! I am assuming in the below that the signatures were calculated by SeedSigner.

If this is correct, the problem here is actually that SeedSigner is not grinding for low R signatures, resulting in a larger transaction size than is necessary. In particular, look at the signatures for `Input #2` - when encoded to DER, both signatures are 71 bytes. Signatures with low R are less than 71 bytes in length. It's strongly recommended to grind for low R signatures - this is done by adding additional data to the deterministic nonce as described by section 3.6 of RFC 6979. Bitcoin Core, Electrum, Sparrow and other wallets do this.

While Sparrow could increase the fee, it's impossible to know ahead of time if the signing device will be grinding for low R or not. Given this issue will only really occur on testnet, and most devices do grind, I think it's better to fail and highlight the issue rather than increase the fee uniformly for all minimum fee rate transactions. For this reason, I'm going to close this off without making a change.

I've added a SeedSigner issue with some additional information: https://github.com/SeedSigner/seedsigner/issues/32

You are correct that the signatures were calculated by seedsigner. Thank you!

Thank you for the clarification on this, will attempt to resolve on our end.